{{extend './layout/center.html'}}

{{block "style"}}
<link rel="stylesheet" href="/public/css/about.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

{{/block}}

{{block "content"}}
<div class="company">
    <div class="pro_content_banner">
        <div class="pro_banner">
            <img src="/public/img/banner.png" class="img-responsive" alt="" />
        </div>
        <div class="pro_nav">
            <div class="container">
                <div class="pro_nav_title hidden-xs">
                    <p class="name">企业简介</p>
                </div>
                <div class="pro_nav_tab">
                    <a href="#">企业简介</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <p style="white-space: normal;" class="lead">
            <span style="font-family: 微软雅黑, "Microsoft YaHei";">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苏州市贝克生物科技有限公司是一家入驻苏州新区高新技术创业中心的高科技企业。本公司有一批训练有素、经验丰富、实力雄厚的研制人员，从事以生物化学、医药化学和材料化学为主体的高新技术化学品的研究、开发、制造。积累了一批技术含量高、市场前景好的高科技产品和技术。
            </span>
        </p>
        <p style="white-space: normal;" class="lead">
            <span style="font-family: 微软雅黑, "Microsoft YaHei";">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这些产品已在生化检验、刑事侦破、环境监测、医药合成，以及液晶显示、电子工业等领域中获得了应用。苏州市贝克生物科技有限公司坚守"质量，用户至上，热忱服务"的准则。公司将以优良的产品和先进的技术为客户服务。承接高技术精细化学品的研制开发业务及相关的技术咨询业务。
            </span>
        </p>
        <div class="main_img">
            <img src="../public/img/about/banner-m.jpg" alt="">
        </div>
    </div>
</div>
{{/block}}