{{extend './layout/center.html'}} 

{{block "style"}}
<link rel="stylesheet" href="/public/css/product.css">
{{/block}} 

{{block  "content"}}
<div class="pro_content_banner">
  <div class="pro_banner">
      <img src="/public/img/banner.png" alt="">
  </div>

  <div class="pro_nav">
    <div class="container">
      <div class="pro_nav_title">

        <h2 class="en">PRODUCTS</h2>
        <p class="name">{{if page1=='sh'}}
          生化检验
          {{else if page1=='yy'}}
          医药中间体
          {{else if  page1=='cl'}}
            材料化学
            {{else}}
            产品展示
          {{/if}}</p>

      </div>

      <div class="pro_nav_tab">
        <a href="/product/product?pageindex=1&page=sh">生化检验</a>
        <a href="/product/product?pageindex=1&page=yy">医药中间体</a>
        <a href="/product/product?pageindex=1&page=cl">材料化学</a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="tatal">
  <div class="row">
  {{each products}}
 
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail" style="border: none;">
        <a href="/product/product2?id={{$value.id}}">
          <img src="/public/img/pro-img/{{$value.img}}" alt="" class="aa"/>
        </a>
        <a href="" class="wenzi">{{$value.CName}}</a>
 
      <p class="shuzi">
        14
        <span class="line" id="hengxian"></span>
      </p>
      <span class="tubiao"
        ><a href="/product/product2?id={{$value.id}}"
          ><img src="/public/img/pro-img/tubiao.png" alt="" class="bb"
        /></a>
      </span>
      </div>
    </div>
  
{{/each}}
</div>
</div>
<div class="page" style="text-align:center">
  <ul class="pagination"></ul>
</div>
<div id="total" style="display: none;">{{totalPage}}</div>

{{/block}} 

{{block "script"}}
 <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
 <!-- <script
 src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
 integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
 crossorigin="anonymous"
></script> -->
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<!-- <script
 src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
 integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
 crossorigin="anonymous"
></script> -->
<script src="/public/js/bootstrap-paginator.min.js"></script>
<script>
 $(function () {
     var search = window.location.search;
     console.log(search);
     var currentPage = search.split("=")[1].split("&")[0];
     var kind = search.split("=")[2];
     console.log(kind);
     if(kind){
      var totalPage = parseInt($("#total").text())
     $(".pagination").bootstrapPaginator({
         //设置版本号
         bootstrapMajorVersion: 3,
         // 显示第几页
         currentPage: currentPage,
         // 总页数
         totalPages: totalPage ,
         numberOfPages: 4,                                  //显示
         pageUrl: function (type, page, current) {                                      //page是点击的页码
             return "http://localhost:3000/product/product?pageindex=" + page+"&page="+kind
         }
     })
     }
  else{
    var totalPage = parseInt($("#total").text())
     $(".pagination").bootstrapPaginator({
         //设置版本号
         bootstrapMajorVersion: 3,
         // 显示第几页
         currentPage: currentPage,
         // 总页数
         totalPages: totalPage ,
         numberOfPages: 6,                                  //显示
         pageUrl: function (type, page, current) {                                      //page是点击的页码
             return "http://localhost:3000/product/product?pageindex=" + page
         }
     })
  }
 })
</script>
{{/block}}

