*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    border: none;
    vertical-align: middle;
}
element.style {
    visibility : visible;
    animation-name: fadeInUp;
}
body {
    font-family: "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体", simsun, sans-serif;
    font-size  : 16px;
    color      : #333333;
}
body,
h2,
ul,
p,
dl,
h4,
h5,
h3,
dl,
dt,
dd {
    padding    : 0;
    font-weight: normal;
}
@media (max-width:500px){
    body{
        font-size: 12px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    body{
        font-size: 14px;
    }
}
.pro_content_banner {
    position: relative;
}
.pro_banner {
    width: 100%;
    position: relative;
}
img {
    border: none;
    vertical-align: middle;
}
.pro_banner img {
    width: 100%;
}
.pro_nav {
    width: 100%;
    height:  14.375rem;
    background: url("/public/img/base/nav_bg.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    bottom: -7.1875rem;
    position: absolute;
    padding-top: 0.36rem;
    z-index: 999;
}
.container {
    margin: 0 auto;
}
@media (min-width:992px) and (max-width:1199px) {
    .container{
        width: 970px;
    }
}
@media (max-width:767px) {
    .container{
        width: 100%;
        padding: 0 0.1rem;
    }
}
@media (max-width: 767px){
    .pro_nav {
        background: #19b95f;
        height:8rem;
        padding-top: 0;
    }
}

.pro_nav .pro_nav_title {
    padding: 0 0 0 0.94rem;
    float: left;
    width: 26.25rem;
    color: #fff;
    font-size: 30px;
    /* border: 1px solid black; */
    margin-left: 14rem;
}
@media (min-width:992px) and (max-width:1199px) {
    .pro_nav .pro_nav_title {
        padding: 0;
        margin: 0;
        width: 26.25rem; 
    }
}
@media (min-width:767px) and (max-width:992px) {
    .pro_nav .pro_nav_title {
        padding: 0;
        margin: 0;
        font-size: 22px;
        width: 26.25rem; 
    }
}
@media (max-width:767px) {
    .pro_nav .pro_nav_title {
        display: none;
    }
}
.pro_nav .pro_nav_title .en {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
@media (min-width:768px) and (max-width:992px) {
    .pro_nav .pro_nav_title .en{
        padding-left: 1.5rem;
        font-size: 22px;
    }
}
.pro_nav .pro_nav_title .name {
    padding-left: 1.5rem;
    margin-left: 11rem;
}
@media (min-width:992px) and (max-width:1199px) {
    .pro_nav .pro_nav_title .name{
        margin-left: 12rem;
    }
}
@media (min-width:767px) and (max-width:992px) {
    .pro_nav .pro_nav_title .name{
        font-size: 22px;
        margin-left: 4rem;
    }
}
@media (max-width:767px) {
    .pro_nav .pro_nav_tab {
        text-align: center;
        width: 100%;
        position: relative;
        top: -0.2rem;
    }
}
@media (max-width:767px) {
    .pro_nav .pro_nav_tab a{
        margin-top: 0;
        font-size: 16px;
        height: 0.8rem;
        line-height: 1rem;
    }
}
.pro_nav .pro_nav_tab {
    float: left;
    margin-top: 10rem;
    margin-left: 13rem;
}
a {
    color: #1baadb;
}
a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.pro_nav .pro_nav_tab a {
    display: inline-block;
    height: 1.04rem;
    line-height: 1.2rem;
    margin-top: 0.25rem;
    color: #fff;
    padding: 0 0.12rem;
    text-decoration: none;
}

.main{
    margin: 0 auto;
    margin-top: 3.125rem;
    height: 458.8px;
    width: 1190px;
    background-position: center bottom;
    margin-top: 120px;
}
@media (min-width: 992px) and (max-width: 1199px){
    .main {
        width: 100%;
        padding: 0 0.1rem;
    }
}
@media (min-width: 767px) and (max-width: 992px){
    .main {
        width: 100%;
        padding: 0 0.1rem;
    }
}
@media (max-width: 767px){
    .main {
        width: 100%;
        padding: 0 0.1rem;
    }
}
.main .main_img{
    margin: auto;
    border: none;
    margin-top: 20px;
}
.main .main_img img{
    width: 1200px;
    height: 294px;
    vertical-align: middle;
}
