html {
    font-size: 625%;
}
body, h2, ul, p, dl, h4, h5, h3, dl, dt, dd {
    padding: 0;
    margin: 0;
    font-weight: normal;
} 
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    font-family: "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体", simsun, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #333333;
    min-width: 320px;
    overflow-x: hidden;
}
element.style {
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.contact_box {
    height: 2.75rem;
    position: relative;
}

.contact_box::before {
    content: '';
    height: 3rem;
    position: absolute;
    background: url("/public/img/contact_bg2.png") right top;
    right: 0;
    top: -0.96rem;
    width: 100%;
}
 .container{
    margin: 0 auto;
}
.contact_box_in{
    width: 100%;
    position: relative;
}
.contact_in {
    height: 3.29rem;
    width: 100%;
    background: url("/public/img/contact_bg.png") center top no-repeat;
    position: absolute;
    left: 0;
    top: -0rem; 
    z-index: 1100;
}
.contact_in .contact_tit {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 0.46rem 0 0 0.3rem;
    display: inline-block;
    border-bottom: 0.04rem solid #fff;
}
.contact_in .contact_type {
    padding-left: 0.4rem;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.contact_in .contact_type_item {
    display: inline-block;
    margin-top: 0.4rem;
    margin-right: 0.45rem;
    color: #fff;
    position: relative;
    font-size: 16px;
    padding-left: 0.6rem;
}

/* .contact_in .contact_type_item .contact_icon {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.2rem;
    background: url("/public/img/contact_icon.png") 0 0 no-repeat;
} */

.contact_in .contact_type_item p{
    font-size: 14px;
}

.contact_in .contact_type_item .contact_icon_qq {
    background-position: 0 -0.5rem;
}
.contact_in .contact_type_item .contact_icon_phone {
    background-position: 0 -1rem;
}  
.contact_in .contact_type_item .contact_icon {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.2rem;
    background: url("/public/img/contact_icon.png") 0 0 no-repeat;
    background-position-x: 0px;
    background-position-y: 10px;
}
.contact_in .contact_type_item .contact_icon-qq {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.2rem;
    background: url("/public/img/contact_icon.png") 0 0 no-repeat;
    background-position-x: 0px;
    background-position-y: -40px;
}

@media (max-width: 767px){
    .container {
        width: 100%;
        padding: 0 0.1rem;
    }
    .contact_in {
        background: #ee8913;
        height: auto;
        padding-bottom: 0.3rem;
    }
    .contact_in .contact_type_item {
        margin-right: 0.15rem;
    }
    .contact_box::before{
        height: 4.2rem;
    }
}

@media (max-width: 479px){
    body {
        font-size: 12px;
    }
    .contact_in .contact_type_item {
        width: 100%;
        margin-right: 0;
    }
    .contact_box::before{
        height: 7rem;
    }
    .contact_box{
        height: 6rem;
    }
    
}

@media (min-width: 480px) and (max-width: 767px){
    body {
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    body {
        font-size: 14px;
    }
    .container {
        width: 750px;
    }
    .contact_box::before{
        height: 4rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container {
        width: 970px;
    }
    .contact_box::before{
        height: 4rem;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
    .contact_box::before{
        height: 2.8rem;
    }
    .contact_in{
        height: 3.29rem;
    }
}









