ul{
    list-style: none;
}
.pro_banner{
    width: 100%;
    position: relative;
    z-index: 0;
}

.pro_nav{
    width: 100%;
    height: auto;
    background: url("../img/nav_bg.png") no-repeat;
    background-size: cover;
    left: 0;
    top: 357px;
    position: absolute;
    z-index: 1;
}

.en{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    position: relative;
    right: -100px;
}
.name{
    font-size: 30px;
    font-weight:normal;
    font-style: italic;
    color: #fff;
    position: relative;
    top: -12px;
    left: 290px;
}
.pro_nav_title{
    float: left;
}
.pro_nav_tab{
    float: left;
    width: 180px;
    height: 129px;
}
.pro_nav_tab a:hover {

    background: url("../img/bg_line.png") repeat-x;
}
 .pro_nav_tab a {
    display: inline-block; 
    height:75px;
    line-height: 80px;
    margin-top: 4px;
    margin-left: 10px;
    color: #fff;
    padding: 0 2px;
    position: relative;
    top: 50px;
    left: 400px;
    text-decoration: none;
}

div {
    display: block;
}


/* 主体 */
.tab_container {
    padding-top: 80px;
}
.news_con_item {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0 0 30px 0;
}
.news_con_item:hover{
background-color: #ee8913;
}
.news_con_item a {
    display: block;
}

/* 左边图片 */
.news_pic {
    width: 270px;
    height: 152px;
    float: left;
}
.news_pic img {
    width: 100%;
    height: 100%;
}
/* 整个右边 */
.news_info {
    width: 800px;
    height: 180px;
    color: #666;
    padding: 0.26rem 0;
    border-top: 1px dashed #c6c6c6;
    border-bottom: 1px dashed #c6c6c6;
    float: right;
}
.news_con_list .news_con_item .news_info .news_time, .news_con_list .news_con_item .news_info .news_text {
    display: inline-block;
    vertical-align: middle;
}
/* 中间日期 */
.news_time {
    width: 100px;
}
.day {
    font-size: 60px;
}
.year {
    font-size: 20px;
    color: #888;
}


/* 最右边文字 */
.news_text {
    width: 660px;

    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
    margin-top: 10px;

}
.news_text_tit {
  
    margin-bottom: 10px;
    font-size: 16px;
}

.news_text_dec {
    height: 96px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
