body {
    font-family: "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体", simsun, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #333333;
    min-width: 320px;
    overflow-x: hidden;
}

.pro_content_banner {
    position: relative;
}

.pro_banner img {
    width: 100%;
}
.container {
    margin: 0 auto;
}

.pro_nav {
    width: 100%;
    height: 1.65rem;
    background: url(../images/products/nav_bg.png) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    bottom: -0.83rem;
    position: absolute;
    padding-top: 0.36rem;
    z-index: 0;
}
.aa {
    width: 358px;
    height: 358px;

    border: 1px solid #ededed;
}
.en{
  font-size: 30px !important;
font-weight: bold;
font-style: italic;
}

img:hover {
    border-right-color: green;
    border-bottom-color: green;
    border-right-width: 8px;
    border-bottom-width: 8px;
}

#total {
    width: 1200px;
    height: 1446px;

}

#total .row div {
    width: 360px;
    height: 482px;
    margin: 0 25px 0 0;
    float: left;
    position: relative;
}
.pro_nav .pro_nav_title .name {
    padding-left: 1.5rem;
}
.wenzi {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    color: #333;
    display: block;

}

a:hover {
    text-decoration: none;
    color: #333
}

.tubiao {

    position: absolute;
    left: 320px;
    bottom: 10px;
    color: #009140;
    display: none;
}
.thumbnail:hover .tubiao{

  display: block ;
}

.bb {
    width: 25px;
    height: 25px;
}

#total .row div:hover .tubiao {
    display: block;
}

.shuzi {
    height: 20px;
    color: #e0e0e0;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

#hengxian {
    width: 40px;
    height: 2px;
    background: #e0e0e0;
    display: inline-block;
    vertical-align: middle;
}

/* 导航图 */
.pro_content_banner {
    position: relative;
    width: 100%;
    margin-bottom: 150px;
    color: #ffffff;
}
.pro_content_banner img{
    vertical-align: middle;
    width: 100%;
}

.pro_nav {
    width: 100%;
    height: 1.65rem;
    background: url("/public/img/nav_bg.png") center center no-repeat;
    background-size: auto;
    /* -webkit-background-size: cover;
    background-size: cover; */
    left: 0;
    bottom: -0.83rem;
    position: absolute;
    padding-top: 0.36rem;
    z-index: 0;
}
.pro_nav .pro_nav_title {
    padding: 0 0 0 0.94rem;
    float: left;
    width: 5rem;
    color: #fff;
    font-size: 30px;
}

.pro_nav_title .en {
    color: #ffffff;
    font-size: 0.4rem;
    font-style: italic;
    font-weight: bold;
}
.pro_nav_title {
    position: relative;
}


.pro_nav_title .name {
    display: inline-block;
    font-size: 30px;
   
    position: absolute;
    left: 30px;
    top: 60px;
}
    


.pro_nav .pro_nav_tab {
    float: left;
}
.pro_nav .pro_nav_tab a {
    display: inline-block;
    height: 1.04rem;
    line-height: 1.2rem;
    margin-top: 0.25rem;
    color: #fff;
    padding: 0 0.12rem;
}

.pro_nav .pro_nav_tab a.active, .pro_nav .pro_nav_tab a:hover {
    background: url("/public/img/bg_line.png") repeat-x;
}



@media (max-width: 767px) {
    .pro_nav_title {
        display: none
    }
    .pro_nav {
        background: #19b95f;
        height: 0.6rem;
        padding-top: 0;
        bottom: -0.6rem;
    }
    
    .pro_nav .pro_nav_tab a {
        margin-top: 0;
        font-size: 16px;
        height: 0.8rem;
        line-height: 1rem;
    }
    .container {
        width: 100%;
        padding: 0 0.1rem;
    }
    .pro_nav .pro_nav_title {
        display: none;
    }
    .pro_nav .pro_nav_tab{
        position: absolute;
        left:30%;
        bottom:3px
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 750px;
    }
    .pro_nav .pro_nav_title {
        padding: 0;
        width: 3.2rem;
        margin-top: 0.14rem;
    }
    .pro_nav .pro_nav_title .en {
        font-size: 30px;
    }
    .pro_nav .pro_nav_title .name {
        font-size: 22px;
        padding-left: 0.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .container {
        width: 970px;
    }
    .pro_nav .pro_nav_title {
        padding: 0;
        width: 4.2rem;
    }
    .pro_nav .pro_nav_title {
        padding: 0;
        width: 4.2rem;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    .pro_nav .pro_nav_tab{
        font-size: 20px;
        position: absolute;
        left:45%;
        bottom: 12px;
    }
   
}

.tubiaoail{
    display: block;
}