<footer class="footer_moudle">
    <div class="container">
        <!-- 上层 左右-->
        <div class="footer_moudle_top">
          <!-- 导航 -->
          <nav class="footer_moudle_top_info animate__animated my-element animate__fadeInUp">
                  <dl>
                      <dt>
                          <p>ABOUT</p>
                          <p>公司动态</p>
                      </dt>
                      <dd>
                          <a href="/foot_news">企业简介</a>
                      </dd>
                  </dl>
               
               
                  <dl>
                      <dt>
                          <p>PRODUCTS</p>
                          <p>产品展示</p>
                      </dt>
                      <dd>
                         <a href="/product/product?pageindex=1&page=sh">生化检验</a>
                      </dd>
                      <dd>
                          <a href="/product/product?pageindex=1&page=yy">医药中间体</a>
                       </dd>   
                       <dd>
                          <a href="/product/product?pageindex=1&page=cl">材料化学</a>
                       </dd>          
                  </dl>
               
                
                  <dl>
                      <dt>
                          <p>BASE</p> 
                          <p>企业风采</p>
                      </dt>
                  </dl>
                
                  <dl>
                      <dt>
                          <p>NEWS</p>
                          <p>咨询中心</p>
                      </dt>
                      <dd>
                          <a href="/news/cnews">企业新闻</a>
                      </dd>
                      <dd>
                          <a href="/news/hnews">企业资讯</a>
                      </dd>   
                  </dl>
                
                  <dl>
                      <dt>
                          <p>CONTACT</p>
                          <p>联系我们</p>
                      </dt>
                  </dl>
                
          </nav>
          <!-- 二维码 上下-->
          <div class="footer_moudle_top_code animate__animated my-element animate__fadeInUp">
              <div class="erweima">
                  <img src="../../public/img/code.png" alt="">
                  <div class="line1"></div>
                  <div class="line2"></div>
                  <div class="zhiteng">
                      <span><strong>Z</strong>HI</span><br>
                      <span><strong>T</strong>ENG</span>
                  </div>
              </div>
          </div>
        </div>


        <!-- 底层 -->
        <div class="footer_moudle_bottom animate__animated my-element animate__fadeInUp">
            <div class="footer_adr container">
                <div class="row">
                  <div class="footer_adr_left col-xs-12 col-sm-12 col-md-7 col-lg-7">
                      <p>Copyright © 2017 苏州市贝克生物科技有限公司 版权所有 </p> 
                      <a href="https://beian.miit.gov.cn/" target="_blank">苏ICP备20008131号-1</a>
                    </div>
                    <div class="footer_adr_right col-xs-12 col-sm-7 col-md-6 col-lg-5">
                      <a href="#">友情链接：</a>
                      <a href="http://www.bek.com.cn/index.php/product/fdgdf.html">生化检验</a><span>|</span>
                      <a href="http://www.bek.com.cn/index.php/product/gfrg.html">医药中间体</a><span>|</span>
                      <a href="http://www.bek.com.cn/index.php/product/dfgfg.html">材料化学</a><span>|</span>
                      <a href="http://qiye.aliyun.com">邮箱链接</a><span>|</span>
                    </div>
                </div>
             </div>
        </div>
    </div> 
</footer>