<nav class="navbar  navbar-default"  data-spy="affix">
  <div class="container-fluid ">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="left header_nav col-md-4 col-xs-6">
        <ul class="nav navbar-nav header_nav_list clearfix">
          <li class="">
              <a href="/">
                  <p class="nav_name">网站首页</p>
                  <p class="nav_en">HOME</p>
                  <span class="nav_dot"></span>
              </a>
          </li>
                              <li class="">
              <a href="/index.php/single/company.html">
                  <p class="nav_name">公司动态</p>
                  <p class="nav_en">ABOUT</p>
                  <span class="nav_dot"></span>
              </a>
          </li>
                              <li class="">
              <a href="/index.php/product/product.html">
                  <p class="nav_name">产品展示</p>
                  <p class="nav_en">PRODUCTS</p>
                  <span class="nav_dot"></span>
              </a>
          </li>
                          </ul>
      </div>
      <div class="logo  col-md-2 hidden-xs">
        <img src="/public/img/logo.png" />
      </div>
      <div class="right header_nav col-md-4 col-xs-6">
        <ul class="nav navbar-nav  ">
          <li>
            <a href="#">
              <p class="nav_name">企业风采</p>
              <p class="nav_en">BASE</p>
              <span class="nav_dot"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="nav_name">咨询中心</p>
              <p class="nav_en">NEWS</p>
              <span class="nav_dot"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="nav_name">联系我们</p>
              <p class="nav_en">CONTACT</p>
              <span class="nav_dot"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
