<nav class="navbar  navbar-default" data-spy="affix">
  <div class="container-fluid ">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div style="width: 100%;height: 4px;background-color: darkgreen ; position: absolute;left: 0;"></div>
      <div class="header_small">
        <div class="header_small_btn">
            <i class="fa-align-justify fa"></i>
        </div>
        <div class="header_small_nav" style="display: block;">
            <ul>
                <li>
                    <a href="/">网站首页</a>
                </li>
                                <li>
                    <a href="/index.php/single/company.html">公司动态</a>
                </li>
                                <li>
                    <a href="/index.php/product/product.html">产品展示</a>
                </li>
                                <li>
                    <a href="/index.php/images/Corporatestyle.html">企业风采</a>
                </li>
                                <li>
                    <a href="/news">资讯中心</a>
                </li>
                                <li>
                    <a href="/index.php/single/contact.html">联系我们</a>
                </li>
                                <li>
                    <a href="http://bek.com.cn/">CN</a>
                </li>
                <li>
                    <a href="http://en-bek.gz01.bdysite.com/">EN</a>
                </li>
            </ul>
        </div>
    </div>
      <div class="left header_nav hidden-xs">
        <ul class="nav navbar-nav header_nav_list clearfix">
          <li class="">
            <a href="/">
              <p class="nav_name">网站首页</p>
              <p class="nav_en hidden-xs">HOME</p>
              <span class="nav_dot hidden-xs"></span>
            </a>
          </li>
          <li class="">
            <a href="/about/about">
              <p class="nav_name">公司动态</p>
              <p class="nav_en">ABOUT</p>
              <span class="nav_dot"></span>
            </a>
          </li>
          <li class="">
            <a href="/index.php/product/product.html">
              <p class="nav_name">产品展示</p>
              <p class="nav_en hidden-xs">PRODUCTS</p>
              <span class="nav_dot hidden-xs"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="logo hidden-xs">
        <img src="/public/img/logo.png" />
      </div>
      <div class="right header_nav hidden-xs">
        <ul class="nav navbar-nav  ">
          <li>
            <a href="/base/Corporatestyle">
              <p class="nav_name">企业风采</p>
              <p class="nav_en hidden-xs">BASE</p>
              <span class="nav_dot hidden-xs"></span>
            </a>
          </li>
          <li>
            <a href="/news/news">
              <p class="nav_name">资讯中心</p>
              <p class="nav_en hidden-xs">NEWS</p>
              <span class="nav_dot hidden-xs"></span>
          </a>
          </li>
          <li>
            <a href="#">
              <p class="nav_name">联系我们</p>
              <p class="nav_en hidden-xs">CONTACT</p>
              <span class="nav_dot hidden-xs"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>



